#Ignore IDE project files
.settings
.project
.classpath
.metadata
**/bin
*.iml
*.ipr
*.iws
**/.idea
**/.DS_Store

#Build Dirs#
output/
**/out

#txt files
**files/log.txt

log.txt

target/

overriding.properties

debug.log
